#seccion3 {

    width: 1428px;
    height: 720px;
    border: 1px solid black;
}

.titulo3 {
   width: 1216px;
   height: 96px;
   margin-top: 60px;
   margin-left: 555px;
   font-size: 48px;
   font-weight: 800;
   color: #000000;
}

.skills {
   width: 1216px;
   height: 492px;
   margin-left: 120px;
   margin-top: 20px;
   display: grid;
   grid-template-columns: repeat(4, 1fr); 
   gap: 20px;
}

.skill {
   width: 186px;
   height: 186px;
   border-radius: 4px;
   display: flex;
   margin: auto;
}

.sk{
   width: 180px;
   height: 180px;
}

span {

    width: 80px;
    height: 80px;
    margin-top: 200px;
    margin-left: -105px;

    font-size: 15px;
}